:root {
  --blue-1: #002341;
  --blue-2: #23618d;
  --white: #ffffff;
}

.header {
  position: relative;
  min-height: 100vh;
  background-image: url("../assets/img/bg/bg-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .overlay {
  position: absolute;
  width: 100%;
  height: 87%;
  top: 0px;
  left: 0px;
  background: var(--blue-1);
  background: linear-gradient(95deg, var(--blue-1) 40%, var(--blue-2) 100%);
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  z-index: -12;
}

.header .overlay :nth-child(1) {
  position: absolute;
  width: 33.33333%;
  width: calc(100% / 2);
  top: 0;
  left: 16.66666%;
  left: calc(calc(100% / 3) / 2);
  right: auto;
  background: var(--blue-1);
  background: linear-gradient(95deg, var(--blue-1) 40%, var(--blue-2) 100%);
  height: 200px;
}

.header .overlay :nth-child(2) {
  position: absolute;
  width: 33.33333%;
  top: 20%;
  left: 66.5%;
  background: var(--blue-1);
  background: linear-gradient(95deg, var(--blue-1) 40%, var(--blue-2) 100%);
  height: 200px;
}

.header .overlay :nth-child(3) {
  position: absolute;
  width: 33.33333%;
  width: calc(100% / 3);
  bottom: 0;
  background: var(--blue-1);
  background: linear-gradient(95deg, var(--blue-1) 40%, var(--blue-2) 100%);
  position: absolute;
  height: 155px;
  left: 3%;
}

.header .overlay :nth-child(4) {
  position: absolute;
  width: 20%;
  bottom: -10%;
  background: var(--blue-1);
  background: linear-gradient(95deg, var(--blue-1) 40%, var(--blue-2) 100%);
  position: absolute;
  height: 155px;
  left: 0;
}

.bg-1 {
  background: linear-gradient(321.69deg, #f03b9e 0%, #ff7045 100%);
}

.bg-2 {
  background: linear-gradient(321.69deg, rgb(76, 55, 117) 0%, #162a5a 100%);
}

.bg-3 {
  background: linear-gradient(321.69deg, #ff7045 0%, #f38e2c 100%);
}

.bg-4 {
  background: linear-gradient(321.69deg, #12b8c5 0%, #162a5a 100%);
}

.bg-5 {
  background: linear-gradient(321.69deg, #4481eb 0%, #04befe 100%);
  /* background: linear-gradient(321.69deg, #38a4ff 0%, #2d75c9 100%); */
}

.bg-6 {
  background: linear-gradient(321.69deg, #002341 0%, #2b3054 100%);
}

.text-color-1 {
  color: #f03b9e;
}

.text-color-2 {
  color: rgb(76, 55, 117);
}

.text-color-3 {
  color: #ff7045;
}

.text-color-4 {
  color: #12b8c5;
}

.text-color-5 {
  color: #4481eb;
}

.text-color-6 {
  color: #2b3054;
}

.bg-7 {
  background: -moz-linear-gradient(
    110deg,
    #12b8c5 0%,
    #162a5a 50%,
    #ff7045 50%,
    #f03b9e 100%
  );
  background: -webkit-linear-gradient(
    110deg,
    #12b8c5 0%,
    #162a5a 50%,
    #ff7045 50%,
    #f03b9e 100%
  );
  background: linear-gradient(
    110deg,
    #12b8c5 0%,
    #162a5a 50%,
    #ff7045 50%,
    #f03b9e 100%
  );
  background: linear-gradient(
    110deg,
    #12b8c5 0%,
    #162a5a 50%,
    #ff7045 50%,
    #f03b9e 100%
  );
}

.bg-8 {
  background: #002341;
}

.subtopic-image--topic-1 {
  background-image: linear-gradient(
      to bottom,
      #f03b9e,
      rgba(0, 255, 0, 0) 85%,
      transparent 85%
    ),
    url(https://picsum.photos/640/360) !important;
}

.subtopic-image--topic-2 {
  background-image: linear-gradient(
      to bottom,
      #162a5a,
      rgba(0, 255, 0, 0) 85%,
      transparent 85%
    ),
    url(https://picsum.photos/640/360) !important;
}

.subtopic-image--topic-3 {
  background-image: linear-gradient(
      to bottom,
      #ff7045,
      rgba(0, 255, 0, 0) 85%,
      transparent 85%
    ),
    url(https://picsum.photos/640/360) !important;
}

.subtopic-image--topic-4 {
  background-image: linear-gradient(
      to bottom,
      #12b8c5,
      rgba(0, 255, 0, 0) 85%,
      transparent 85%
    ),
    url(https://picsum.photos/640/360) !important;
}

.subtopic-image--topic-5 {
  background-image: linear-gradient(
      to bottom,
      #4481eb,
      rgba(0, 255, 0, 0) 85%,
      transparent 85%
    ),
    url(https://picsum.photos/640/360) !important;
}

.subtopic-image--topic-6 {
  background-image: linear-gradient(
      to bottom,
      #002341,
      rgba(0, 255, 0, 0) 85%,
      transparent 85%
    ),
    url(https://picsum.photos/640/360) !important;
}

.ribbon {
  position: absolute;
  top: 0.75rem;
  right: -0.25rem;
  z-index: 1;
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #002341;
  text-align: center;
  text-transform: uppercase;
  background: #206bc4;
  border-color: #206bc4;
}

.ribbon:before {
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 0;
  height: 0;
  content: "";
  filter: brightness(70%);
  border: 0.125rem solid;
  border-color: inherit;
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-bookmark:after {
  position: absolute;
  top: 0;
  right: 100%;
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 1rem solid;
  border-color: inherit;
  border-right-width: 0;
  border-left-color: transparent;
  border-left-width: 0.5rem;
}

.ribbon-bookmark {
  padding-left: 0.25rem;
}

.ribbon.bg-orange {
  border-color: white;
}
.bg-orange {
  background: white;
}
